<div class="comments">
  <div class="comment_form">
    <%= render "comments/comment_form", micropost: micropost, comment: micropost.comments.build %>
  </div>

  <div class="comment_content" id="comments-<%= micropost.id %>">
    <% if micropost.comments.present? %>
      <%= render micropost.comments, micropost: micropost %>
    <% end %>
  </div>
</div>
