<% if micropost.likes.size == 0 %>
  Be the first to like this post
<% else %>
  <% micropost.likes.includes(:user).each do |user_like| %>
    <p><%= link_to user_like.user.name, user_like.user %></p>
  <% end %>
<% end %>
