<% @user ||= current_user %>
<div class="stats">
  <%= link_to followings_path @user do %>
    <strong id="followers"><%= @user.followers_count %></strong> followers
  <% end %>

  <%= link_to followers_path @user do %>
    <strong id="following"><%= @user.followings_count %></strong> following
  <% end %>
</div>
