<span class="user">
  <div class="gravatar-user">
    <%= gravatar_for current_user, size: 40 %>
  </div>

  <span class="user"><%= current_user.name %></span>

  <span class="view-profile">
    <%= link_to "View my profile", current_user %>
  </span>
</span>
