<li id="micropost-<%= micropost.id %>">
  <%= render "microposts/micropost_content", micropost: micropost %>

  <div id="like-btn-<%= micropost.id %>" class="like-btn">
    <%= render "likes/like", micropost: micropost %>
  </div>
</li>
