<% if @micropost.errors.present? %>
  $('.micropost_form').html("<%= j render "shared/micropost_form", micropost: @micropost %>");
<% else %>
  $('.microposts').html("<%= j render 'shared/feed' %>");
  $('.micropost_form').html("<%= j render "shared/micropost_form", micropost: Micropost.new %>");
  $('#count_micropost').html("<%= pluralize(current_user.microposts.count, 'micropost') %>");
  $('#notice').show();
  $('#notice').html("<div class='alert alert-success'>Micropost created!</div>")
  $('#notice').fadeOut(5000);
<% end %>
