$('#micropost-<%= @micropost.id %>').remove();
$('.microposts').html("<%= j render 'shared/feed' %>");
$('#count_micropost').html('Microposts (<%= current_user.microposts.count %>)');

$('#notice').show();
$('#notice').html("<div class='alert alert-success'>Micropost deleted!</div>")
$('#notice').fadeOut(5000);
