$gray-medium-light: #eaeaea;
$gray-dark: #333;
$gray-light: #bbb;
$gray-light1: #e8e8e8;
$gray-f1: #f1f1f1;
$blue-light: #337ab7;
$blue-dark: #23527c;
$white-fe: #fefefe;
$gray-888: #888;
$blue-dark2: #3578e5;
