@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $gray-light;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.password-reset {float: right;}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $gray-light1;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    a {
      text-decoration: none;
    }
  }
  .content {
    display: block;
    margin: 5px 0;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .fa-comment {
    margin: 3px 3px 0 30px;
    float: left;
  }
  .show-comment {
    display: none;
  }
  #loadMoreComment{
    margin-left: 35px;
  }
  .count-comment {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: #23527c;
      text-decoration: underline;
    }
  }
}

.clearfix {
  display: block;
  content: '';
  clear: both;
}

.micropost-content {
  margin: 5px 0;
  display: block;
  img {
    display: block;
    padding: 5px 0;
  }
}

#micropost_picture {
  margin-bottom: 5px;
}

#count_micropost {
  font-size: 24px;
}

.timestamp {
  font-style: italic;
  display: block;
  font-size: 12px;
  color: $gray-light;
  a {
    color: $gray-light;
    &:hover {
      text-decoration: none;
    }
  }
}

.view-profile {
  display: block;
  font-size: 13px;
}

.profile {
  text-align: center;
  .avatar {
    margin-bottom: 5px;
    img {
      border-radius: 50%;
      width: 150px;height: 150px;
    }
  }
}

.gravatar-user {
  float: left;
  margin-right: 5px;
  .username {
    font-size: 20px;
  }
}

aside {
  section.user_info {
    margin-top: 20px;
  }

  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

span.user {
  font-weight: 500;
  font-size: 18px;
}

.comments {
  margin-top: 10px;
  #comment {
    margin: 5px 0;
  }
  .current-comment {
    margin-left: 35px;
    border-top: 1px solid $gray-light1;
    &:first-child {
      border: none;
    }
  }
}

.like-btn {
  margin-bottom: 5px;
  .like img {
    width: 16px;
  }
}

.stats {
  overflow: auto;
  margin: 5px 0;
  padding: 0;
  a {
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: $gray-dark;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

.users.follow {
  padding: 0;
}

.notice_error {
  color: red;
  margin: -10px 0 6px 0;
}

.username {
  font-size: 20px;
  a {
    text-decoration: none;
  }
}

.text-area {
  resize: vertical;
  margin-bottom: 5px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
